.ItemsWrapper {
    @include clearfix;
}

.ItemInfo{
    display: inline-block;
    width: 24%;
    margin: 5px;
    box-shadow: 0 0 0 2px #e1e1e1;
    border-radius: 5px;
}

.ItemInfo img{
    display:block;
    width: 100%;
    max-width:100%;
    overflow: hidden;
    margin: 0 auto;
}
.ItemInfo_details lable, .ItemInfo_details p {
    font-size: 17px;
    line-height: 24px;
    width: 100%;
    font-weight: 400;
    color: #58595b;
    text-align: center;
}

.ItemInfo_details p{
    margin-left:0px;
}
.ItemHeading {
    h1{
        color: #58595b;
        font-weight: bolder;
        margin-bottom: 20px;
        padding: 15px 0;
        border-bottom: 1px solid #D1D1D1;
        text-align:center;
    }
}
.Item_price{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #58595b;

}
.Item_oprations {
    text-align:center;
    margin:10px 0;
    .qty {
        width:5%;
        padding: 4px 8px;
        font-size: 16px;
        outline:none;
    }
    .Quantity_IncDec {
        background-color: #ddd;
        padding: 4px 8px;
        font-size: 16px;
        border-radius: 5px;
        outline:none;
    }
}

.Item_cartOperation {
    text-align: -webkit-center;
    margin-bottom:30px;
}

.addbutton{
    box-shadow: 4px 4px 4px #ccc;
    font-size: 14px;
    color: #ffffff;
    padding: 5px 20px;
    background: #84c225;
    border-radius: 5px;
    margin-bottom: 10px;
    outline:none;
}
.rmvbutton{
    box-shadow: 4px 4px 4px #ccc;
    font-size: 14px;
    color: #ffffff;
    padding: 5px 10px;
    background: #e50000;
    border-radius: 5px;
    margin-bottom: 10px;
    outline:none;
}
