<div class="footer-container">
    <div class="row">
        <p>Explore exciting offers on Nature Basket <strong>*T&C</strong></p>
    </div>
    <div class="row">
        <div class="footer-navbar">
            <div class="footer-nav-1">
                <ul>
                    <li><a href="#collective-section">The Collective</a></li>
                    <li><a href="#crew-section">The Crew</a></li>
                    <li><a href="#articles-section">Article</a></li>
                    <li><a href="#freebies-section">Freebies</a></li>
                    <li><a>Subscribe</a></li>
                </ul>
            </div>
            <div class="footer-nav-2">
                <ul>
                    <li><a>License</a></li>
                    <li><a id="share-button">Share</a></li>
                </ul>
            </div>
        </div>
        <p>Shop from Nature Basket and get <strong>discounts!!</strong></p>
    </div>
</div>
