@import models.Item
@(listItems:List[Item])
@main("Grossary Page") {

<div id="items" class="Item ItemWrapper">
    <div class="Item_heading">
        <h1>Grossary Sections</h1>
    </div>
    @for(item <- listItems) {
    <div class="Item_info">
        <img src="@item.imageSrc" alt="">
        <div class="Item_detail">
            <p class="Item_name">@item.name.capitalize</p>
            <p class="Item_priceInfo">Rs.<span class="Item_price">@item.price</span><span> For 500g</span></p>

            <div class="Item_operations">
                <ul class="Item_counter">
                    <li class="Item_decCount">-</li>
                    <li class="Item_qty">1</li>
                    <li class="Item_incrCount">+</li>
                </ul>
                <a class="Item_addToCart Item_Button">Add to Cart</a>
                <a class="Item_removeFromCart Item_Button Hide">Remove from Cart</a>
            </div>

        </div>
    </div>
    }
</div>

}
