@import models.Item
@(listItems:List[Item])
@main("Vegetables Page") {

<div id="items" class="Item ItemWrapper">
    <div class="Item_heading">
        <h1>Fresh Vegetables</h1>
    </div>
    @for(item <- listItems) {
        <div class="Item_info">
            <img src="@item.imageSrc" alt="">
            <div class="Item_detail">
                <p class="Item_name">@item.name.capitalize</p>
                <p class="Item_priceInfo">Rs.<span class="Item_price">@item.price</span><span> For 500g</span></p>

                <div class="Item_operations">
                    <a class="Item_addToCart">Add to Cart</a>
                    <ul class="Item_counter Hide">
                        <li class="Item_decCount">-</li>
                        <li class="Item_qty">1</li>
                        <li class="Item_incrCount">+</li>
                    </ul>
                </div>

            </div>
        </div>
    }
</div>
}

